@model ProjectUmico.Application.Dtos.CategoryDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("Edit", "Categories", "",FormMethod.Post))
    {
        <div class="form-group my-2">
            <input asp-for="CategoryId" class="visually-hidden">
        </div>
        
        <div class="form-group my-2">
            <label asp-for="CategoryName">Category name</label>
            <input asp-for="CategoryName" class="form-control" placeholder="Category name">
            <span class="text-danger" asp-validation-for="CategoryName"></span>
        </div>
        <div class="form-group my-2">
            <label asp-for="CategoryParentName">Category parent name</label>
            <input asp-for="CategoryParentName" class="form-control" placeholder="Category parent name">
            <span class="text-danger" asp-validation-for="CategoryParentName"></span>
        </div>
        
        <button type="submit" class="btn btn-success" >Save</button>
        <div class="my-4 card-subtitle text-danger" asp-validation-summary="All"></div>
    }
    
</div>
