@model ProjectUmico.Web.ViewModels.Categories.CategoriesViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
    
    @using (Html.BeginForm("Add", "Categories", "", FormMethod.Post))
    {
        <label asp-for="CategoryName"></label>
        <input class="form-control" asp-for="CategoryName"/>
        <label asp-for="CategoryParentName"></label>
        <input class="form-control" asp-for="CategoryParentName"/>
        <button class="m-3 bg-primary" type="submit">Add</button>
    }

    <div class="row">
        <div class="col">
            <p>CategoryName</p>
        </div>
        <div class="col">
            <p>CategoryParent</p>
        </div>
        <div class="col">
            <p>Control</p>
        </div>
    </div>

    @if (@Model != null && Model.Categories.Items.Count > 0)
    {
        @foreach (var category in @Model.Categories.Items)
        {
            <div class="row">
                <div class="col">
                    <p>@category.CategoryName</p>
                </div>
                <div class="col">
                    <p>@category.CategoryParentName</p>
                </div>
                <div class="col">
                    <div class="btn-group">
                    @using (Html.BeginForm("Delete", "Categories", new {id = category.CategoryId}, FormMethod.Post))
                    {
                        <button class="btn-danger" type="submit">Delete</button>
                    }
                    <a class="p-1 lh-1 btn-success" asp-action="Edit" asp-controller="Categories" asp-route-id="@category.CategoryId">Edit</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p class="text-danger">No Categories</p>
    }
</div>

<div class="container align-content-center">
    @{
        await Html.RenderPartialAsync("PageNavigation",Model.Categories);
    }
</div>

