@model ProjectUmico.Web.Models.Products.ProductsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@foreach (var item in Model.Products.Items)
{
    <div class="row border-left border-right  p-4 border-bottom border-20">
        <div class="col-sm">
            @item.Name
        </div>
        <div class="col-sm">
            @item.SKU
        </div>
        <div class="col-sm">
            @item.Description
        </div>
        <div class="col-sm">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Attributes
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @if (item.Atributes != null)
                    {
                        @foreach (var atrb in item.Atributes)
                        {
                            <p class="dropdown-item" href="#">@atrb.Value</p>
                        }
                    }
                    else
                    {
                        <p class="dropdown-item text-danger" href="#">No attributes</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="btn-group">
                <!-- enclode button in form -->
                <button class="btn-danger" type="submit">Delete</button>
                <!--  -->
                <a class="p-1 lh-1 btn-success" >Edit</a>
            </div>
        </div>
    </div>
}
<div class="container align-content-center">
    @{
        await Html.RenderPartialAsync("PageNavigation", Model.Products);
    }
</div>
